data_dir = "{{ nomad_data_dir }}"

server {
  enabled          = true
  bootstrap_expect = 1
}

client {
  enabled = false
}

bind_addr = "0.0.0.0"
log_level = "INFO"

advertise {
  http = "{{ ansible_host }}"
  rpc  = "{{ ansible_host }}"
  serf = "{{ ansible_host }}"
}

consul {
  address = "{{ consul_address }}"
}
